name: Add Two Numbers

on:
  workflow_dispatch:
    inputs:
      num1:
        description: "Enter first number"
        required: true
        default: "10"
      num2:
        description: "Enter second number"
        required: true
        default: "20"

jobs:
  run-python:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Run Python script with dynamic numbers
        run: python main.py "${{ github.event.inputs.num1 }}" "${{ github.event.inputs.num2 }}"
